.calendar-grid {
	display: grid;
	grid-template-columns: 6ch repeat(7, 1fr);
}

.cal-navigation {
	display: flex;
	justify-content: end;
	gap: 3rem;
}

.cal-navigation button {
	display: flex;
    /* align-items: center; */
	justify-content: center;
	width: 1.7rem;
	height: 1.7rem;
	background: #ffffff30;
}
.cal-navigation button:hover {
	cursor: pointer;
	background: #ffffff20;
}

.ts-cell:hover{
	background: #ffffff20;
	cursor: pointer;
}

.ts-event {
	position: relative;
	--ts-bg-color: #ffffff30;
}

.ts-closed {
	position: relative;
	--ts-bg-color: #945151;
}
.ts-my {
	position: relative;
	--ts-bg-color: #96d552;
}

.ts-active {
	position: relative;
	--content: "";
	--ts-bg-color: #f1bc9470;
}

.ts-event::after,
.ts-closed::after,
.ts-my::after,
.ts-active::after {
	--heck: .25em;
	position: absolute;
	top: var(--heck);
	left: var(--heck);
	width: calc(100% - var(--heck) * 2);
	height: calc(100% - var(--heck) * 2);
	content: "";
	overflow: clip;
	font-size: .75rem;
	display: flex;
	justify-content: center;
	padding-top: .25em;
	background: var(--ts-bg-color);
}

.ts-rows-2 {
	grid-row: span 2;
}
.ts-rows-3 {
	grid-row: span 3;
}
.ts-rows-4 {
	grid-row: span 4;
}
.ts-rows-5 {
	grid-row: span 5;
}
.ts-rows-6 {
	grid-row: span 6;
}
.ts-rows-7 {
	grid-row: span 7;
}
.ts-rows-8 {
	grid-row: span 8;
}
.ts-rows-9 {
	grid-row: span 9;
}
.ts-rows-10 {
	grid-row: span 10;
}
.ts-rows-12 {
	grid-row: span 12;
}

.legend {
	width: 600px;
	display: flex;
	gap: 6rem;
}

.legend > div {
	position: relative;
	left: 3rem;
}
.ts2-event {
	--ts-bg-color: #ffffff30;
}
.ts2-closed {
	--ts-bg-color: #945151;
}
.ts2-my {
	--ts-bg-color: #96d552;
}
.legend > div::before {
	content: "";
	display: block;
	position: absolute;
	width: 1.6rem;
	height: 1.6rem;
	background: var(--ts-bg-color);
	border-radius: 5px;
	top: .0rem;
	left: -2.5rem;
}
