@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 156px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bottom-right-shadow {
  box-shadow: 6px 6px 20px #00000050;
}

.cool-card {
  padding: 1.25rem 1rem;
  border-radius: 16px;
  background: linear-gradient(145deg, #242424, #2b2b2b);
  box-shadow:  20px 20px 60px #222222,
               -20px -20px 60px #2e2e2e;
  /* z-index: -1; */
}

.wide-image-parent {
  position: relative;
  width: fit-content;
}
.wide-image-parent {
  margin: 0 auto;
}
.wide-image-parent::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background: linear-gradient(90deg, #000000ff, #00000000, #00000000, #000000ff);
}

:not(.hero) > .wide-image-parent::after {
  background: linear-gradient(90deg, #000000ff, #00000090, #00000090, #000000ff);
}

.wide-image-parent img {
  position: relative;
}
.wide-image-parent Image::after {
  width: 100%;
  height: 100%;
  /*left: 0;*/
  /*top: 0;*/
  position: absolute;
  content: "";
  display: block;
  background: red!important;
}

.studio-card :is(.image-parent, .wide-image-parent) {
  position: relative;
}

:is(.studio-card, .room-card) :is(.image-parent, .wide-image-parent)::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  background: linear-gradient(180deg, #00000000, #00000000, #00000000, #000000);
  /*background: red;*/
}

footer {
  background: linear-gradient(180deg, #00000000, #00000020, #00000034, #00000034);
}

img.secondary {
  filter: invert(12%) sepia(3.2%) saturate(583%) hue-rotate(329deg) brightness(86%) contrast(83%);
}

main, article {
  padding-bottom: 2rem!important;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.p-rating {
  scale: 1.7;
  transform-origin: left;
}
